html, body {
    font-family: 'Papyrus';
    height: 100%;
    width: 100%;
    background: url("/bg/rachel-davis-tn2rBnvIl9I-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid black;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(80, 255, 112) 0%, rgb(124, 198, 255) 100%);
    text-align: center;
    width: 75%;
    max-width: 350px;
    padding: 15px;
}

.button {
    display: inline-block;
    width: 60%;
    height: 50px;
    font-size: 18px;
    margin: 20px auto;
    padding: 15px 25px;
    text-align: center;
    color: black;
    background: linear-gradient(180deg, #DDD 0%, #6e88a1 100%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px slategray;
    cursor: pointer;
}

select {
    display: block;
    width: 60%;
    height: 50px;
    font-size: 18px;
    margin: 20px auto;
    padding: 5px;
    color: black;
    border: 1px solid #CCC;
    background: white url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'14\' height=\'10\' viewBox=\'0 0 14 10\'%3E%3Cpath fill=\'%23black\' d=\'M1 1l6 6 6-6\'/%3E%3C/svg%3E') no-repeat right 10px center;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media (max-width: 768px) {
    #container {
        width: 85%;
    }

    .button, select {
        width: 85%;
    }
}

@media (max-width: 480px) {
    #container {
        width: 85%;
        padding: 10px;
    }

    .button, select {
        width: 85%;
    }
}