html, body {
    font-family: 'Papyrus';
    height: 100%;
    width: 100%;
    background: url("/bg/rachel-davis-tn2rBnvIl9I-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid black;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(80, 255, 112) 0%, rgb(124, 198, 255) 100%);
    text-align: center;
    width: 50%;
    max-width: 30rem;
    padding: 20px;
}

#message {
    padding-top: 15px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px slategray;
    margin-bottom: 20px;
}

.button:hover {
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

.button:active {
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    box-shadow: 0 5px slategray;
    transform: translateY(4px);
}

select {
    margin: 20px 0;
    width: 200px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 50px;
}

@media (max-width: 768px) {
    #container {
        width: 75%;
    }

    .button {
        font-size: 20px;
        padding: 10px 20px;
    }

    select {
        width: 200px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    #container {
        width: 90%;
        padding: 10px;
    }

    .button {
        font-size: 18px;
        padding: 8px 15px;
    }

    select {
        font-size: 14px;
        height: 35px;
        width: 180px;
    }
}